*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --body: #F4F4F4;
  --txt: #9b9b9b;
  --hdr-clr: #5C7D84;
  --scnd-blue: #EEF2F2;
  --wht: #fff;
  --yllw: #E4C249;
  --lhtblk: rgba(0,0,0,.17);
}

@font-face {
  font-family: 'Futura';
  src: url(futur.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(NunitoSans-Regular.ttf);
}

img {
  max-height: 100%;
}

h1,
h2,
h3 {
  color: var(--hdr-clr);
  font-family: 'Futura';
}

p,
a {
  color: var(--txt);
  font-family: 'Nunito';
}

.container {
  max-width: 1250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

body {
  background: var(--body);
}

header {
  height: 70px;
  width: 100%;
  padding: 12px 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  height: 60px;
  width: 100px;
}

header nav .nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

header nav .nav-2 .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

header nav .nav-2 .nav-list li {
  list-style: none;
}

header nav .nav-2 .nav-list li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

header nav .nav-2 .nav-list li a .fa {
  font-size: 15px;
}

header nav .nav-2 #check {
  display: none;
}

header nav .nav-2 .checkbtn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .nav-2 .checkbtn #menu {
  display: none;
  height: 3px;
  width: 40px;
  position: absolute;
  top: 40px;
  background: var(--txt);
  border-radius: 5px;
}

header nav .nav-2 .checkbtn #menu::before {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  background: var(--txt);
  width: 35px;
  height: 3px;
  border-radius: 5px;
}

#hero {
  height: auto;
  padding: 5em 0;
  overflow: hidden;
}

#hero .hero-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#hero .hero-wrapper .hero-left-content {
  -ms-grid-column-align: center;
      justify-self: center;
}

#hero .hero-wrapper .hero-left-content img {
  height: 500px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

#hero .hero-wrapper .hero-left-content img:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#hero .hero-wrapper .hero-center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero .hero-wrapper .hero-center-content h1 {
  font-size: 2.9em;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: lighter;
  position: relative;
  margin-bottom: 5px;
}

#hero .hero-wrapper .hero-center-content h1::before {
  content: '';
  position: absolute;
  top: 57%;
  left: 0;
  width: 64%;
  height: 7px;
  border-radius: 5px;
  background: var(--yllw);
  z-index: -1;
}

#hero .hero-wrapper .hero-center-content p {
  color: var(--yllw);
}

#hero .hero-wrapper .hero-center-content .center-bottom a {
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  color: var(--hdr-clr);
  border: 1px solid var(--hdr-clr);
  padding: 25px 40px;
  border-radius: 50%;
}

#hero .hero-wrapper .hero-right-content {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: auto;
}

#hero .hero-wrapper .hero-right-content img {
  height: 400px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

#hero .hero-wrapper .hero-right-content img:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#about {
  height: auto;
  padding: 5em 0;
}

#about .about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#about .about-wrapper .about-left-content {
  position: relative;
}

#about .about-wrapper .about-left-content .rotan-img {
  height: 700px;
}

#about .about-wrapper .about-left-content .pro {
  position: absolute;
  top: 25%;
  right: 15%;
  width: 150px;
  height: 150px;
  -webkit-animation: pro 25s linear infinite;
          animation: pro 25s linear infinite;
  mix-blend-mode: multiply;
}

@-webkit-keyframes pro {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pro {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#about .about-wrapper .about-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#about .about-wrapper .about-right-content h2 {
  text-align: right;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
}

#about .about-wrapper .about-right-content p {
  width: 75%;
  line-height: 1.8em;
  font-size: 15px;
}

#latest {
  height: auto;
  padding: 5em 0;
}

#latest .latest-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#latest .latest-wrapper .latest-left-content h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  width: 50%;
  margin-bottom: 4em;
}

#latest .latest-wrapper .latest-left-content p {
  margin-top: 1em;
  font-size: 12px;
}

#latest .latest-wrapper .latest-left-content img {
  height: 40%;
}

#latest .latest-wrapper .latest-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -5em;
}

#latest .latest-wrapper .latest-right-content img {
  height: 300px;
}

#latest .latest-wrapper .latest-right-content h3 {
  margin: 4em 0;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}

#latest .latest-wrapper .latest-right-content p {
  margin-top: 1em;
  font-size: 12px;
  width: 33%;
  text-align: right;
}

#latest .latest-wrapper-second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5em 0;
}

#latest .latest-wrapper-second .latest-left-second img {
  height: 400px;
}

#latest .latest-wrapper-second .latest-left-second p {
  margin-top: 1em;
  font-size: 12px;
  width: 33%;
}

#latest .latest-wrapper-second .latest-left-second .cta {
  position: relative;
  height: 50%;
}

#latest .latest-wrapper-second .latest-left-second .cta a {
  text-decoration: none;
}

#latest .latest-wrapper-second .latest-left-second .cta a img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 10%;
  left: 5%;
  -webkit-animation: pro 25s linear infinite;
          animation: pro 25s linear infinite;
}

#latest .latest-wrapper-second .latest-left-second .arrow {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0%;
  left: 10%;
  z-index: 999;
}

#latest .latest-wrapper-second .latest-right-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10em;
}

#latest .latest-wrapper-second .latest-right-second p {
  width: 66%;
  line-height: 1.8em;
  font-size: 15px;
}

#gallery {
  height: auto;
  padding: 5em 0;
  background: var(--scnd-blue);
}

#gallery h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
  width: 20%;
}

#gallery .gallery-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -ms-grid-rows: (220px)[8];
      grid-template-rows: repeat(8, 220px);
  grid-auto-flow: dense;
  grid-auto-rows: 150px;
  gap: 10px;
  padding-top: 5em;
  height: auto;
}

#gallery .gallery-wrapper .box {
  width: 100%;
  height: 100%;
}

#gallery .gallery-wrapper .box img {
  height: 300px;
}

#gallery .gallery-wrapper .box:nth-child(1) {
  background: url("kendra-allen-k8FSoWAOzb4-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(2) {
  background: url("maria-lysenko-AVUNx9qDWcY-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#gallery .gallery-wrapper .box:nth-child(3) {
  background: url("gaelle-lewyllie-poTXDfQdIKg-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(4) {
  background: url("norbert-kundrak-U88ZdpEgsAg-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 3;
}

#gallery .gallery-wrapper .box:nth-child(5) {
  background: url("jonatas-domingos-uV9jdPh_DMA-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(6) {
  background: url("matheus-ferrero-W7b3eDUb_2I-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(7) {
  background: url("travis-clem-KlfuN5xFgJY-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(8) {
  background: url("h-f-e-co-KO8nYHjG8nw-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#gallery .gallery-wrapper .box:nth-child(9) {
  background: url("jeremy-wong-weddings-464ps_nOflw-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(10) {
  background: url("eleanor-Ji1W9fDXzio-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 3;
}

#gallery .gallery-wrapper .box:nth-child(11) {
  background: url("riccardo-fissore-jG3YvXELR7c-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(12) {
  background: url("gaelle-lewyllie-gpcAL6osgMc-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .cta-gallery {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

#gallery .cta-gallery a {
  text-decoration: none;
}

#gallery .cta-gallery a img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 0%;
  right: 5%;
  -webkit-animation: pro 25s linear infinite;
          animation: pro 25s linear infinite;
}

#special {
  height: 100vh;
  background: url("amir-seilsepour-5vg_SarQimA-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#special .special-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#special .special-wrapper h1 {
  color: var(--wht);
  font-size: 2.9em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

#special .special-wrapper p {
  text-transform: uppercase;
  color: var(--wht);
  text-align: center;
}

#inquire {
  height: auto;
  padding: 5em 0;
}

#inquire .inquire-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#inquire .inquire-wrapper .inquire-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inquire .inquire-wrapper .inquire-left-content h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  width: 60%;
  margin: 2em 0 7em 0;
}

#inquire .inquire-wrapper .inquire-left-content img {
  width: 70%;
}

#inquire .inquire-wrapper .inquire-right-content {
  margin-top: 5em;
}

#inquire .inquire-wrapper .inquire-right-content p {
  width: 75%;
  margin-bottom: 1em;
  font-size: 15px;
  line-height: 1.8em;
}

#inquire .inquire-wrapper .inquire-right-content span {
  font-weight: bold;
}

#inquire .inquire-wrapper .inquire-right-content .date,
#inquire .inquire-wrapper .inquire-right-content .venue,
#inquire .inquire-wrapper .inquire-right-content .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#inquire .inquire-wrapper-second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5em 0;
  height: 100%;
  position: relative;
}

#inquire .inquire-wrapper-second .inquire-left-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
}

#inquire .inquire-wrapper-second .inquire-left-second p {
  width: 75%;
  line-height: 1.8em;
  font-size: 15px;
}

#inquire .inquire-wrapper-second .inquire-right-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inquire .inquire-wrapper-second .inquire-right-second h2 {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  width: 70%;
}

#inquire .inquire-wrapper-second .inquire-right-second .cta-inquire {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#inquire .inquire-wrapper-second .inquire-right-second .cta-inquire a {
  text-decoration: none;
}

#inquire .inquire-wrapper-second .inquire-right-second .cta-inquire a img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#our-team {
  height: auto;
  padding: 5em 0;
  background: var(--scnd-blue);
}

#our-team .our-team-wrapper h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5em;
}

#our-team .our-team-wrapper .first-team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 10px;
}

#our-team .our-team-wrapper .first-team .card {
  background: var(--wht);
  height: auto;
  width: 300px;
  padding: 10px;
}

#our-team .our-team-wrapper .first-team .card h6 {
  font-size: 12px;
  color: var(--txt);
  font-family: 'Nunito';
  font-weight: 300;
}

#our-team .our-team-wrapper .first-team .card p {
  color: var(--hdr-clr);
  padding: 10px 0;
}

#our-team .our-team-wrapper .first-team .card .profile {
  height: 300px;
}

#our-team .our-team-wrapper .first-team .card .hernandez {
  background: url("cobro-JDJIDtZNJsM-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .sergio {
  background: url("craig-mckay-jmURdhtm7Ng-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .lim {
  background: url("imansyah-muhamad-putera-n4KewLKFOZw-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .garry {
  background: url("sergio-de-paula-c_GmwfHBDzk-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .celine {
  background: url("michael-dam-mEZ3PoFGs_k-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .patrisha {
  background: url("christopher-campbell-rDEOVtE7vOs-unsplash.jpg ") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .dwight {
  background: url("radu-florin-JyVcAIUAcPM-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .joseph {
  background: url("toa-heftiba-C1HhlX7vErc-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#memories {
  height: auto;
  padding: 5em 0;
}

#memories .memories-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#memories .memories-wrapper .memories-image h2 {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  width: 70%;
  margin-bottom: 5em;
}

#memories .memories-wrapper .memories-image img {
  height: 650px;
}

#memories .memories-wrapper .memories-image h6 {
  font-size: 12px;
  color: var(--txt);
  font-family: 'Nunito';
  font-weight: 300;
}

#memories .memories-wrapper .memories-image p {
  color: var(--hdr-clr);
  font-size: 12px;
}

#memories .memories-wrapper .memories-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#memories .memories-wrapper .memories-info p {
  width: 75%;
  font-size: 15px;
  line-height: 1.8em;
}

#footer {
  height: auto;
  padding: 5em 0 0 0;
  background: var(--scnd-blue);
}

#footer .footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#footer .footer-wrapper .footer-list {
  padding-bottom: 5em;
}

#footer .footer-wrapper .footer-list ul li {
  list-style: none;
  margin: 10px 0;
}

#footer .footer-wrapper .footer-list ul li a {
  text-decoration: none;
  font-size: 14px;
}

#footer .footer-wrapper .footer-list h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}

#footer .footer-wrapper .footer-list .email {
  position: relative;
}

#footer .footer-wrapper .footer-list .email .input {
  border: none;
  height: 40px;
  width: 100%;
  margin-top: 3em;
  position: relative;
  padding: 5px;
}

#footer .footer-wrapper .footer-list .email span {
  position: absolute;
  top: 40%;
  left: 1%;
  font-size: 15px;
  color: var(--txt);
  font-family: 'Nunito';
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  pointer-events: none;
}

#footer .footer-wrapper .footer-list .email .input:focus ~ span {
  top: 15%;
  color: var(--hdr-clr);
}

#footer .footer-wrapper .footer-list .cta-email {
  margin-top: 10px;
}

#footer .footer-wrapper .footer-list .cta-email a {
  background: var(--hdr-clr);
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
  color: var(--wht);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .copy {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer .copy P {
  font-size: 12px;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */